* {
  box-sizing: inherit;
}

body {
  background-color: #f3f3ee;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

a {
  border-bottom: 1px solid transparent;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: color .3s ease-in-out, border .3s ease-in-out;
}

a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.75);
}

input,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

a:focus,
input:focus,
button:focus {
  outline: thin dotted;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 1rem;
  width: 100%;
}

.app__header {
  margin-bottom: 1rem;
  padding: 1rem 0;
  text-align: center;
}

.app__title {
  font-family: Courgette, serif;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 0.825;
  margin: 0;
}

.app__tagline {
  background-color: #a1887f;
  color: #f3f3ee;
  font-size: 0.625rem;
  font-variant-ligatures: none;
  font-weight: 700;
  letter-spacing: 0.15rem;
  padding: 0.25rem;
}

.app__footer {
  background-color: #a1887f;
  color: #f3f3ee;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

.copyright {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
}

.show-cart {
  background-color: #a1887f;
  border: 0;
  border-radius: 50%;
  height: 3rem;
  padding: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
}

.show-cart path {
  fill: #f3f3ee;
}

.badge {
  background-color: #bdbdbd;
  border-radius: 50%;
  color: #f3f3ee;
  display: inline-block;
  font-size: 0.625rem;
  min-width: 2.1em;
  padding: 0.3em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: background 0.3s ease-in-out;
}

.badge--active {
  background: #f44333;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  background-color: #fafafa;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem;
  padding: 1rem;
  text-align: center;
}

.item__name {
  font-family: Courgette, serif;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 1;
  margin: 0 auto 1rem;
}

.item__preview {
  height: 250px;
  margin: 0 auto 1rem;
  overflow: hidden;
  width: 250px;
}

.item__image {
  filter: blur(0) brightness(1.1);
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transform: scale(1.25);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in;
  width: 100%;
}

.item__preview:hover .item__image {
  filter: blur(0.5px) brightness(0.625);
  transform: scale(1);
}

.item__actions {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  border: 0;
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn--add {
  background-color: #cddc39;
}

.btn--add:hover {
  background-color: #c0ca33;
}

.btn--close {
  position: absolute;
  right: 0;
  top: 0;
}

.btn--remove {
  padding: 0 0.5rem;
}

.btn--remove:hover {
  color: #f44333;
}

.cart {
  background-color: #fafafa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 420px;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: calc(100vw - 2rem);
  z-index: 9;
}

.cart__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 auto 1rem;
  text-align: center;
}

.cart__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart__item {}

.cart__item-details {
  flex: 1;
}

.cart__item-preview {
  height: 32px;
  margin-right: 1rem;
  overflow: hidden;
  width: 32px;
}

.cart__item-image {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.cart__item-name {
  display: flex;
  justify-content: space-between;
}

.cart__item-price {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.825rem;
}

.cart__row {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.cart__row--bold {
  font-weight: 700;
}

.cart__row--no-border {
  border: 0;
}

.btn--payment {
  background-color: #85c2e0;
}
